# Configuration settings for Snakemake

# Relative path where your samples are found
# this must have one column named 'Sample' with the sample names matching the fastq files
# it also must have a column named 'auriclass_clade' with the clade information for each sample
samples: config/samples.csv

# this should match the clade of the reference you are using
# only samples from this clade will be analyzed in this run
clade: 'Clade I'

# name of this run
prefix: 2025-11-14_persvade_cladeI

# Path to your trimmed sequencing reads (do not end this path with '/')
trimmed_reads: copied_reads_dir/trimmed_reads

# Path to the reference sequence to use for this run:
reference_fasta: clade_reference_files/UM_Caur_1/UM_Caur_1.scaffolds.fa
reference_gff: clade_reference_files/UM_Caur_1/UM_Caur_1.gff3
# If you are using an existing reference directory, format the path like this:
# reference/{file_name}/{file_name}.fasta
# example:
# reference/b8441/b8441.fasta

# Location of mitochondrial chromosome:
mito_chr: scaffold_8
# persvade needs to know the location of the mitochondrial chromosome in your assembly, if there is one.
# If there isn't one, put "no_mitochondria" here
# example (no mitochondrial genome):
# mito_chr: no_mitochondria
# example (with mitochondrial genome):
# mito_chr: scaffold_8

# ploidy of your organism
ploidy: 1

# CNV calling parameters
cnv_calling_algorithms: HMMcopy,AneuFinder
cnv_calling_window_size: 500

# annotation parameters
# codon table for genomic dna
gcode: 12
# codon table for mitochondrial dna
mcode: 4

# Directory prefix where the outputs will be saved to
# Rename this to your preferred naming convention with this format: year-month-day_Project_Name_funQCD
#prefix: 2025-05-06_ncbiPathogen_t30_v1

# Change to genome size of your organism of interest 
#genome_size: 12000000

# Cores made available to snakemake
# Optional to change this
# (this is now specified in profile/config.yaml)
# ncores: 8
# Memory allocated to snakemake in Mb
# Make sure this is equal to the memory provided in profile/config.yaml 
# mem_mb: 15000

# Command line parameters for trimmomatic tool
# Change according to your sequence type
# If your adapter file is not present in the adapter directory, 
# Please add the appropriate file to the adapters folder
adapter_file: config/adapters/combined_Adaptors.fa
seed_mismatches: 2
palindrome_clipthreshold: 30
simple_clipthreshold: 10
minadapterlength: 8
keep_both_reads: true
window_size: 4
window_size_quality: 20
minlength: 40
headcrop_length: 0
lead_trail_qual: 3

# Optional to change this unless you have a kraken database of your own
#kraken_db: /nfs/esnitkin/bin_group/database/k2_standard_20230605/

# Do not change this
# bioawk: bioawk -c fastx '{if(length($seq) > 1000) {print ">"$name; print $seq }}'

# Command line parameters for Prokka 
# Optional to change this
#prokka: -kingdom Bacteria --force --rfam

# Change this to your organism of interest 
# Check the website below for proper naming convention
# https://github.com/ncbi/amr/wiki/Running-AMRFinderPlus#--organism-option
#amrfinder_organism: Klebsiella_pneumoniae

# QC thresholds 
# min_contigs: 7
# max_contigs: 500
# min_assembly_length: 11000000
# max_assembly_length: 13000000
# min_avg_coverage: 20
# min_fastqc_tests_passed: 6
# min_busco_nucl_score: 97
# min_n50: 30000

# Skani database
# Optional to change this unless you have a skani database of your own
#skani_db: /nfs/turbo/umms-esnitkin/database/skani/gtdb_skani_database_ani

# Database path
# funqcd_lib: /nfs/turbo/umms-esnitkin/Project_Cauris/Analysis/2025_funQCD_database/lib/
# This directory needs to have a specific structure:
# lib
# ├—rna_seq_data
# ├—eggnog_data
# ├—busco
#     └-lineages
#       └-saccharomycetes_odb10
# └—interproscan_data
#     └-data 
# You can create this file structure in your working directory and the setup rules will download the relevant databases
# This will likely require you to set up the funannotate database separately.

# This is an example QC summary file used as a template. It's used to indicate that certain samples fail early steps in the pipeline.
# The first row should contain a failed sample, and the second row should contain a passing sample.
# These columns should be identical to the final QC file produced by the pipeline.
# example_qc_summary_file: config/example_qc_summary.tsv

# Feel free to remove the comments after you have customized the file.
